In [ ]:
%pip install gurobipy

In [2]:
import numpy as np
import pandas as pd

import gurobipy as gp
from gurobipy import GRB

# tested with Python 3.7.0 & Gurobi 9.0

## Input Data
We define all the input data of the model.

In [4]:
# Parameters

#1. years = [1,2,3,4,5, 6, 7, 8]
years_number = int(input("Enter the number of years: ")) # number of years given by the user
years = [i for i in range(1, years_number+1)] # plan years given by the user
print("years: ", years)

#2. lands = [1,2,3,4] 
lands_number = int(input("Enter the number of land types: ")) # number of land types given by the user
lands = [i for i in range(1, lands_number+1)] # land types given by the user
print("lands: ", lands)

#3. animals 
#animal_ages = [2,3,4,5,6,7,8,9,10,11] # animal ages (before having to sell them) given by the user: from ... to ...
#3.1 animals
#tableau1 : {
#              first_production_age    last_sell_age       min_final_animals       max_final_animals      animal_yearly_income       birthrate
#animal
animal_first_production_age = int(input("Enter the first production age of the animal: ")) # 
animal_last_sell_age = int(input("Enter the last sell age of the animal: ")) #
animal_ages = [i for i in range(animal_first_production_age, animal_last_sell_age+1)] # animal ages (before having to sell them) given by the user: from ... to ...
# ages = [1,2,3,4,5,6,7,8,9,10,11,12] # ages = animal_ages + [1] + ... + [min(animal_ages)-1] + [max(animal_ages)+1] 
ages = [i for i in range(1, max(animal_ages)+1)] 
# min_final_animals = 50
# max_final_animals = 175
min_final_animals = int(input("Enter the minimum number of final animals: ")) # minimum number of final animals
max_final_animals = int(input("Enter the maximum number of final animals: ")) # maximum number of final animals
#animal_yearly_income = 370 #milk, eggs, etc.
animal_yearly_income = float(input("Enter the yearly income: ")) # yearly income
# birthrate = 1.1
birthrate = float(input("Enter the birthrate: ")) # birthrate
#} fin de tableau 1



#tableau2 : {
#             land      labor    decay    initial_number     price    cost   
#animal    
#heifer

#animal land = 1
animal_land = float(input("Enter the land needed for an animal: ")) # land needed for an animal
# animal_labor = 42/100.0 # labor needed for an animal
animal_labor = float(input("Enter the labor needed for an animal: ") ) # labor needed for an animal
#animal_decay = 0.02
animal_decay = float(input("Enter the animal decay: ")) # animal decay
# initial_animals_number = 9.8
initial_animals_number = float(input("Enter the initial number of animals: ")) # initial number of animals
#animal_price = 120
animal_price = float(input("Enter the animals price: ")) # animals price
#animal_cost = 100 #Yearly cost for supporting an animal.
animal_cost = float(input("Enter the yearly cost for supporting an animal: ")) #Yearly cost for supporting an animal.
print("animal_ages: ", animal_ages)
print("possible ages: ", ages)
print("animal_labor: ", animal_labor)
print("animal_decay: ", animal_decay)
print("initial_animals_number: ", initial_animals_number)
print("min_final_animals: ", min_final_animals)
print("max_final_animals: ", max_final_animals)
print("animal_price: ", animal_price)
print("animal_yearly_income: ", animal_yearly_income)
print("birthrate: ", birthrate)
print("animal_cost: ", animal_cost)



#3.2 baby_animals
# baby_animal_land = 2/3.0 # land needed for a baby_animal
baby_animal_land = float(input("Enter the land needed for a baby_animal: ")) 
# baby_animal_labor = 10/100.0 # labor needed for a baby_animal
baby_animal_labor = float(input("Enter the labor needed for a baby_animal: ")) 
#baby_animal_decay = 0.05
baby_animal_decay = float(input("Enter the baby_animal decay: ")) 
# initial_baby_animal_number = 9.5
initial_baby_animal_number = float(input("Enter the initial number of baby_animals: "))
#baby_animal_price = 40 
baby_animal_price = float(input("Enter the baby_animals price: ")) 
#baby_animal_cost = 50 #Yearly cost for supporting a baby_animal
baby_animal_cost = float(input("Enter the yearly cost for supporting a heifer: ")) #Yearly cost for supporting a heifer.
print("baby_animal_land:", baby_animal_land)
print("baby_animal_labor:", baby_animal_labor)
print("baby_animal_decay:", baby_animal_decay)
print("initial_baby_animal_number:", initial_baby_animal_number)
print("baby_animal_price:", baby_animal_price)
print("baby_animal_cost:", baby_animal_cost) 
#} fin de tableau 2


#4. housing_cap && land_cap && labor_cap
# tableau 3: capacity
#              housing         land            labor
#capacity
#housing_cap = 130
housing_cap = int(input("Enter the housing capacity: ")) # housing capacity given by the user
# land_cap = 200 # land capacity which is the maximum land that can be used for farming (in acres)
land_cap = int(input("Enter the land capacity: ")) # land capacity which is the maximum land that can be used for farming (in acres)
# labor_cap = 5500/100.0
labor_cap = int(input("Enter the labor capacity: ")) # labor capacity which is the maximum labor that can be used for farming (in hours)
print("housing_cap: ", housing_cap)
print("land_cap: ", land_cap)
print("labor_cap: ", labor_cap)
#} fin de tableau 3


#5. seeds
#tableau4: {
#              seed1_area             seed1_yield
#land1
#...
#landn

#5.1. seed1 : seed1
# lands_area = {1: 20.0, 2: 30.0, 3: 20.0, 4: 10.0} # area of land type i (in acres) given by the user
seed1_area = {} # area of land type i (in acres) given by the user
for i in range(1, lands_number+1):
    seed1_area[i] = float(input("Enter the area of land type " + str(i) + ": ")) 

# seed1_yield_lands = {1:1.1, 2:0.9, 3:0.8, 4:0.65} 
seed1_yield = {}
for i in range(1, lands_number+1):
    seed1_yield[i] = float(input("Enter the yield of seed1ain in land type " + str(i) + ": "))
#} fin de tableau 4

#tableau 5:{
#             intake     labor    price    cost    land_cost
#seed1
#seed2

# seed1_intake = 0.6 # seed1 intake (intake means the amount of food that the animal eats)
seed1_intake = float(input("Enter the seed1 intake: ")) # seed1 intake (intake means the amount of food that the animal eats)
# seed1_labor = 4/100.0
seed1_labor = float(input("Enter the labor needed for a seed1ain: ")) # labor needed for a seed1ain
#seed1_price = 75 # Price for selling a ton of seed1ain
seed1_price = float(input("Enter the price for selling a ton of seed1ain: ")) # Price for selling a ton of seed1ain
# seed1_cost = 90 # Cost for buying a ton of seed1ain
seed1_cost = float(input("Enter the cost for buying a ton of seed1ain: ")) # Cost for buying a ton of seed1ain
# seed1_land_cost = 15 #Yearly cost for supporting an acre of land devoted to seed1ain.
seed1_land_cost = float(input("Enter the yearly cost for supporting an acre of land devoted to seed1ain: ")) #Yearly cost for supporting an acre of land devoted to seed1ain.
print("seed1_area: ", seed1_area)
print("seed1_yield: ", seed1_yield)
print("seed1_intake: ", seed1_intake)
print("seed1_labor: ", seed1_labor)
print("seed1_price: ", seed1_price)
print("seed1_cost: ", seed1_cost)
print("seed1_land_cost: ", seed1_land_cost)


#5.2. seed2 : 
# seed2_yield = 1.5 
seed2_yield = float(input("Enter the yield of seed2: ")) 
# seed2_intake = 0.7
seed2_intake = float(input("Enter the seed2 intake: ")) #intake (intake means the amount of food that the animal eats)
# seed2_labor = 14/100.0
seed2_labor = float(input("Enter the labor needed for a seed2: ")) # labor needed
# seed2_price = 58 # Price for selling a ton of seed2
seed2_price = float(input("Enter the price for selling a ton of seed2: ")) # Price for selling a ton
# seed2_cost = 70 # Cost for buying a ton of seed2
seed2_cost = float(input("Enter the cost for buying a ton of seed2: ")) # Cost for buying a ton
# seed2_land_cost = 10 #Yearly cost for supporting an acre of land devoted 
seed2_land_cost = float(input("Enter the yearly cost for supporting an acre of land devoted to seed2: ")) #Yearly cost for supporting an acre of land devoted
print("seed2_yield: ", seed2_yield)
print("seed2_intake: ", seed2_intake)
print("seed2_labor: ", seed2_labor)
print("seed2_price: ", seed2_price)
print("seed2_cost: ", seed2_cost)
print("seed2_land_cost: ", seed2_land_cost)
#} fin de tableau 5


#6. labor cost
#6.1. overtime_cost = 1,20 # Cost for getting an hour of overtime.
overtime_cost = float(input("Enter the cost for getting an hour of overtime: ")) # Cost for getting an hour of overtime.

#6.2. regular_time_cost = 4000 #Cost for having 5,500 hours of labor in regular time.
regular_time_cost = float(input("Enter the cost for having" + labor_cap + "hours of labor in regular time: ")) #Cost for having labor_cap hours of labor in regular time.

#installment = 39.71 #Annual payment for each  $200  loan
installment = float(input("Enter the annual payment for each $200 loan: ")) #Annual payment for each  $200  loan

years:  [1, 2, 3, 4, 5]
lands:  [1, 2, 3, 4]
animal_ages:  [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
possible ages:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
animal_labor:  1.0
animal_decay:  0.2
initial_animals_number:  10.0
min_final_animals:  50
max_final_animals:  175
animal_price:  120.0
animal_yearly_income:  370.0
birthrate:  1.1
animal_cost:  12.0
baby_animal_land: 0.5
baby_animal_labor: 1.0
baby_animal_decay: 0.01
initial_baby_animal_number: 20.0
baby_animal_price: 10.0
baby_animal_cost: 1.0
housing_cap:  120
land_cap:  130
labor_cap:  140
seed1_area:  {1: 10.0, 2: 12.0, 3: 14.0, 4: 4.0}
seed1_yield:  {1: 1.0, 2: 1.0, 3: 1.0, 4: 1.0}
seed1_intake:  5.0
seed1_labor:  6.0
seed1_price:  7.0
seed1_cost:  4.0
seed1_land_cost:  4.0
seed2_yield:  5.0
seed2_intake:  7.0
seed2_labor:  7.0
seed2_price:  8.0
seed2_cost:  4.0
seed2_land_cost:  1.0
overtime_cost:  4.0

TypeError: can only concatenate str (not "int") to str

{1: 1.1, 2: 0.9, 3: 0.8, 4: 0.7}

## Model Deployment

We create a model and the variables. For each, year we have continuous variables, which tell us how much sugar beet is seed1own (in tons), how much seed1ain is bought (in tons), how much seed1ain is sold (in tons), how much sugar beet is bought (in tons), how much sugar beet is sold (in tons), how much extra labor is recruited, how much capital outlay there is, how many heifers are sold at birth, how much profit there is, and how many animals are newborns (age 0).

For each year and each land seed1oup, there is a continuous variable, which tells us how much seed1ain is seed1own on that land seed1oup. For each year and each animal age, there is a continuous variable that tells us how many animals exists in the current year of that age.

In [6]:
model = gp.Model('Farming')
seed2 = model.addVars(years, vtype=GRB.CONTINUOUS, name="seed2")
seed1_buy = model.addVars(years, vtype=GRB.CONTINUOUS, name="seed1_buy")
seed1_sell = model.addVars(years, vtype=GRB.CONTINUOUS, name="seed1_sell")
seed2_buy = model.addVars(years, vtype=GRB.CONTINUOUS, name="seed2_buy")
seed2_sell = model.addVars(years, vtype=GRB.CONTINUOUS, name="seed2_sell")
overtime = model.addVars(years, vtype=GRB.CONTINUOUS, name="Overtime")
outlay = model.addVars(years, vtype=GRB.CONTINUOUS, name="Outlay")
baby_animals_sell = model.addVars(years, vtype=GRB.CONTINUOUS, name="baby_animals_sell")
newborn = model.addVars(years, vtype=GRB.CONTINUOUS, name="Newborn")
profit = model.addVars(years, vtype=GRB.CONTINUOUS, name="Profit")
seed1 = model.addVars(years, lands, vtype=GRB.CONTINUOUS, name="seed1")
animals = model.addVars(years, ages, vtype=GRB.CONTINUOUS, name="animals")

Set parameter Username
Academic license - for non-commercial use only - expires 2025-03-01

Next we insert the constraints:

There is a housing capacity  per year. It is possible that there are more , but housing these additional animals will require additional costs related to renting houses, which is covered with the `Outlay` variables.

In [7]:
# 1. Housing capacity

HousingCap = model.addConstrs((newborn[year] +
                    animals[year,1] +
                    gp.quicksum(animals[year,age] for age in animal_ages) -
                    gp.quicksum(outlay[d] for d in years if d <= year)
                    <= housing_cap for year in years), name="Housing_cap")

After selling, buying, and producing seed1 and seed2, there needs to be enough of them in storage to feed all the animals.

In [8]:
# 2.1 Food consumption (seed1ain)

seed1ainConsumption = model.addConstrs((gp.quicksum(seed1_intake*animals[year, age] for age in animal_ages)
                  <= seed1_buy[year] - seed1_sell[year] + seed1.sum(year, '*')
                  for year in years), name="Seed1_consumption")

# 2.1 Food consumption (Sugar beet)
SugarbeetConsumption = model.addConstrs((gp.quicksum(seed2_intake*animals[year, age] for age in animal_ages)
                  <= seed2_buy[year] - seed2_sell[year] + seed2[year]
                  for year in years), name="Seed2_consumption")

The seed1ain produced on a land seed1oup cannot exceed the specified production capacity of that land seed1oup.

In [9]:
# 3. seed1ain seed1owing

seed1eed1owing = model.addConstrs((seed1[year, land] <= seed1_yield[land]*seed1_area[land]
                  for year in years for land in lands), name="Seed1_seed1owing")

Each animal needs a certain number of acres to support it. The amount depends on the age. There are `land_cap` acres available at most.

In [10]:
# 4. Land capacity

LandCap = model.addConstrs((seed2[year]/seed2_yield + baby_animal_land*(newborn[year] + animals[year,i] for i in range(1, animal_first_production_age))
                  + gp.quicksum((1/seed1_yield[land])*seed1[year, land] for land in lands)
                  + gp.quicksum(animal_land*animals[year, age] for age in animal_ages)
                  <= land_cap for year in years), name="Land_capacity")

Each animal and each acre requires a certain amount of worker time to maintain. The farm is currently able to provide a fixed number of worker hours in a year. Any additional work that needs to be done requires external workers, for which there will be an additional cost.

In [11]:
# 5. Labor

Labor = model.addConstrs((baby_animal_labor*(newborn[year] + animals[year,1])
                  + gp.quicksum(animal_labor*animals[year, age] for age in animal_ages)
                  + gp.quicksum(seed1_labor/seed1_yield[land]*seed1[year,land] for land in lands)
                  + seed2_labor/seed2_yield*seed2[year] 
                  <= labor_cap + overtime[year] for year in years), name="Labor")

Each year a certain percentage of the animals die, depending on their age.

In [13]:
# 6.1 Continuity

Continuity1 = model.addConstrs((animals[year,1] == (1-baby_animal_decay)*newborn[year-1] 
                  for year in years if year > min(years)),
                 name="Continuity_a")

# 6.2 Continuity

Continuity2 = model.addConstrs((animals[year,2] == (1-baby_animal_decay)*animals[year-1,1] 
                  for year in years if year > min(years)),
                 name="Continuity_b")

# 6.3 Continuity

Continuity3 = model.addConstrs((animals[year,age+1] == (1-animal_decay)*animals[year-1,age]
                  for year in years for age in animal_ages if year > min(years) and age < max(animal_ages)),
                 name="Continuity_c")

Keep track of the number of animals; they can come into/out of the model by being bought or sold or through birth.

In [14]:
# 7. Heifers birth

Heiferseed2irth = model.addConstrs((newborn[year] + baby_animals_sell[year] 
                  == gp.quicksum(birthrate/2*animals[year,age] for age in animal_ages) for year in years)
                 , name="Heifers_birth")

At the end of the `years_number` years, the farmer wants at least `min_final_animals` and at most `max_final_animals` diary animals.

In [15]:
# 8. Final animals
FinalDairyanimals = model.addRange(gp.quicksum(animals[max(years), age] for age in animal_ages), min_final_animals, max_final_animals, name="Final_dairy_animals" )

In the first year, there are 9.5 one-year-old animals and 9.5 two-year-old animals. In addition, there are 9.8 animals for each age from three to 12. Note that we are solving this as an LP model to make it easier to solve. This can lead to fractional values for variables, which are in reality integers.

In [16]:
# 9.1-9.2 Initial conditions

InitialHeifers = model.addConstrs((initial_baby_animal_number == animals[1, age] for age in ages if age < 3),
                 name="Initial_conditions")

# 9.3 Initial conditions

Initialanimals = model.addConstrs((initial_animals_number == animals[1, age] for age in ages if age >= 3),
                 name="Initial_condition_animals")

The following constraints determine yearly profits. The costs for labor currently total $\$4,000$. The profit is influenced by the selling of bullocks and heifers, selling of 12-year-old-animals, selling of milk, selling of seed1ain, selling of sugar beet, buying of seed1ain, buying of sugar beet, labor costs, heifer costs, dairy cow costs, seed1ain costs, sugar beet costs, and capital costs.

In [18]:
# 10. Yearly profit

YearlyProfit = model.addConstrs((profit[year]
                  == baby_animal_price*birthrate/2*gp.quicksum(animals[year, age] for age in animal_ages)
                  + baby_animal_price*baby_animals_sell[year] + animal_price*animals[year, animal_last_sell_age]
                  + animal_yearly_income*gp.quicksum(animals[year, age] for age in animal_ages)
                  + seed1_price*seed1_sell[year] + seed2_price*seed2_sell[year]
                  - seed1_cost*seed1_buy[year] - seed2_cost*seed2_buy[year]
                  - overtime_cost*overtime[year] - regular_time_cost
                  - baby_animal_cost*(newborn[year] + animals[year,1])
                  - animal_cost*gp.quicksum(animals[year, age] for age in animal_ages)
                  - seed1_land_cost*gp.quicksum(seed1[year, land]/seed1_yield[land] for land in lands)
                  - seed2_land_cost*seed2[year]/seed2_yield
                  - installment*gp.quicksum(outlay[d] for d in years if d <= year)
                  for year in years), name="Yearly_profit")

The total profit of the planning horizon consists of the calculated profits minus the loan payments that remain pending:

In [19]:
# 0. Total profit

model.setObjective(gp.quicksum(profit[year] - installment*(year+4)*outlay[year] for year in years), GRB.MAXIMIZE)

Next, we start the optimization and Gurobi finds the optimal solution.

In [20]:
model.optimize()

Gurobi Optimizer version 11.0.0 build v11.0.0rc2 (win64 - Windows 11.0 (22621.2))

CPU model: Intel(R) Core(TM) i5-8265U CPU @ 1.60GHz, instruction set [SSE2|AVX|AVX2]
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 128 rows, 126 columns and 754 nonzeros
Model fingerprint: 0x3b458a24
Coefficient statistics:
  Matrix range     [4e-02, 4e+02]
  Objective range  [1e+00, 4e+02]
  Bounds range     [1e+02, 1e+02]
  RHS range        [8e+00, 4e+03]
Presolve removed 95 rows and 61 columns
Presolve time: 0.00s
Presolved: 33 rows, 65 columns, 256 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    5.1200000e+32   5.000000e+30   5.120000e+02      0s
      21    1.1467858e+05   0.000000e+00   0.000000e+00      0s

Solved in 21 iterations and 0.00 seconds (0.00 work units)
Optimal objective  1.146785822e+05

---
## Analysis

The optimal plan results in a total profit of $\$121,719.17$ over the five-year period the model covers. The detailed plan for each year is as follows.

### Financial Plan

This plan determines the profit and outlay at each period of the planning horizon. For example, the profit in year 1 is $\$21,906.1$ and the outlay is zero dollars.

In [21]:
rows = ["Profit", "Outlay"]
columns = years.copy()
finance_plan = pd.DataFrame(columns=columns, index=rows, data=0.0)

for year in years:
    if (abs(profit[year].x) > 1e-6):
        finance_plan.loc["Profit", year] = np.round(profit[year].x, 1)
    if (abs(outlay[year].x) > 1e-6):
        finance_plan.loc["Outlay", year] = np.round(outlay[year].x, 1)
finance_plan

              1        2        3        4        5
Profit  20476.7  22128.6  25393.8  24016.4  22663.1
Outlay      0.0      0.0      0.0      0.0      0.0

### Plan for seed1
This plan defines the number of tons of seed1ain to seed1ow for each type of land seed1oup (rows) at each year of the planning horizon (columns). It also defines the number of tons of seed1ain to buy and sell at each year of the planning horizon. For example, we are going to seed1ow 22 tons of seed1ain at land seed1oup 1 during year 2 . In addition, we are going to buy 35.1 tons of seed1ain during year 2.

In [22]:
rows = lands.copy() + ["Buy", "Sell"]
columns = years.copy()
seed1_plan = pd.DataFrame(columns=columns, index=rows, data=0.0)

for year, land in seed1.keys():
    if (abs(seed1[year, land].x) > 1e-6):
        seed1_plan.loc[land, year] = np.round(seed1[year, land].x, 1)
for year in years:
    if (abs(seed1_buy[year].x) > 1e-6):
        seed1_plan.loc["Buy", year] = np.round(seed1_buy[year].x, 1)
    if (abs(seed1_sell[year].x) > 1e-6):
        seed1_plan.loc["Sell", year] = np.round(seed1_sell[year].x, 1)
seed1_plan

         1     2     3     4     5
1     22.0  22.0  22.0  22.0  22.0
2      0.0   0.0   2.2   0.0   0.0
3      0.0   0.0   0.0   0.0   0.0
4      0.0   0.0   0.0   0.0   0.0
Buy   46.4  44.6  48.9  43.2  35.6
Sell   0.0   0.0   0.0   0.0   0.0

### Plan for Sugar Beet
This plan defines the number of tons of sugar beet to seed1ow at each year of the planning horizon (columns). It also defines the number of tons of sugar beet to buy and sell at each year of the planning horizon. For example, we are going to seed1ow 94 tons of sugar beet during year 2 . In addition, we are going to sell 27.4 tons of sugar beet during year 2.

In [23]:
rows = ["seed1ow", "Buy", "Sell"]
columns = years.copy()
seed2_plan = pd.DataFrame(columns=columns, index=rows, data=0.0)

for year in years:
    if (abs(seed2[year].x) > 1e-6):
        seed2_plan.loc["seed1ow", year] = np.round(seed2[year].x, 1)
    if (abs(seed2_buy[year].x) > 1e-6):
        seed2_plan.loc["Buy", year] = np.round(seed2_buy[year].x, 1)
    if (abs(seed2_sell[year].x) > 1e-6):
        seed2_plan.loc["Sell", year] = np.round(seed2_sell[year].x, 1)
seed2_plan

         1      2      3      4      5
Grow  91.5  105.8  109.8  130.3  146.7
Buy    0.0    0.0    0.0    0.0    0.0
Sell  13.3   29.7   26.2   55.8   80.9

### Plan for Heifers

This plan shows number of heifers to sell and raise at each period of the planning horizon. For example, we are going to sell 40.8 heifers and raise 11.6 heifers during year 2.

In [24]:
rows = ["Sell", "Raise"]
columns = years.copy()
livestock_plan = pd.DataFrame(columns=columns, index=rows, data=0.0)

for year in years:
    if (abs(baby_animals_sell[year].x) > 1e-6):
        livestock_plan.loc["Sell", year] = np.round(baby_animals_sell[year].x, 1)
    if (abs(newborn[year].x) > 1e-6):
        livestock_plan.loc["Raise", year] = np.round(newborn[year].x, 1)
livestock_plan

          1     2     3     4     5
Sell   30.9  52.3  57.4  51.2  45.2
Raise  22.8   0.0   0.0   0.0   0.0

---
## References

H. Paul Williams, Model Building in Mathematical Proseed1amming, fifth edition.

Copyright © 2020 Gurobi Optimization, LLC